#box{
    margin-right: px;
    margin: 0% 299px;
    box-shadow: 10px 10px 5px rgb(240, 235, 235);
    text-align: center;
    background: rgb(190, 190, 190); 
}

#img{
text-align: center;
}


